In [1]:
print ("Mars Tech")

Mars Tech

In [5]:
print = input ("Enter Your Institute Name? :")

Enter Your Institute Name? : Mars Tech

In [7]:
print = input ("Enter Your Name :")
print = input ("Enter Your Age :")
print = input ("Enter Your School Name :")
print = input ("Enter Your Drgree :")

Enter Your Name : Raj
Enter Your Age : 15
Enter Your School Name : Guru School
Enter Your Drgree : B.E CSE

In [4]:
a = 43
b = 34
Add = a + b

print("a =", a)
print("b =", b)
print("Add =", Add)

a = 43
b = 34
Add = 77

In [6]:
a = 43
b = 34
Sub = a - b

print("a =", a)
print("b =", b)
print("Sub =", Sub)

a = 43
b = 34
Sub = 9

In [10]:
a = 63
b = 97
Mul = a * b

print("a =", a)
print("b =", b)
print("Mul =", Mul)

a = 63
b = 97
Mul = 6111

In [14]:
a = 76
b = 31
Float_Div = a / b

print("a =", a)
print("b =", b)
print("Float Div =", Float_Div)

a = 76
b = 31
Float Div = 2.4516129032258065

In [22]:
a = 76
b = 31
Floor_Div = a // b

print("a =", a)
print("b =", b)
print("Floor Div =", Floor_Div)

a = 76
b = 31
Floor Div = 2

In [24]:
a = 76
b = 31
Modulo = a % b

print("a =", a)
print("b =", b)
print("Modulo =", Modulo)

a = 76
b = 31
Modulo = 14

In [26]:
a = 4
b = 4
Power = a ** b

print("a =", a)
print("b =", b)
print("Power =", Power)

a = 4
b = 4
Power = 256