In [33]:
print(" 0\n 1 \n 2 \n 3\n 4 \n 5 \n 6 \n 7 \n 8 \n 9 \n 10 \n 11 \n 12 \n 13 \n 14 \n 15\n 16 \n 17\n 18 \n 19")

 0
 1
 2
 3
 4
 5
 6
 7
 8
 9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19

In [15]:
print(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

10 11 12 13 14 15 16 17 18 19

In [51]:
list2 = [10, 20, 14, 55, 43, 87, 76]
print (list2)
print("Number of items in the List2:\n" , len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2:
 7

In [75]:
print ("Artificial Intelligence")
print ("A\nr\nt\ni\nf\ni\nc\ni\na\nl\n\nI\nn\nt\ne\nl\nl\ni\ng\ne\nn\nc\ne")

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [83]:
print ("-Your Name- \n-Your Age- \n-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [93]:
Tuple1 = (1,'welcome', 2,'mars tech')
print(Tuple1)

(1, 'welcome', 2, 'mars tech')

In [101]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'mars tech')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'mars tech'))

In [121]:
list = (20, 10, 16, 19, 25, 1,276, 188)
print (list)

for num in list:
    if num % 2 != 0:  
        print(f"{num} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [123]:
list = (20, 10, 16, 19, 25, 1,276, 188)
print (list)

for num in list:
    if num % 2 != 1:  
        print(f"{num} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even